

#aHead{
  width: 100%;
  height: 100px;
}


#parent{
  width: 100%;
  height: 600px;
  
}
#sidebar{
  height: 600px;
  
  width: 20%;
  
}
#bAside{
  height: 100%;  
}

#bdyChld{
  width: 80%;
  height: 600px;
}
#fstBdyChld{

width: 100%;
height:250px ;
}
.fstBdyChld{
width: 50%;
height: 250px;

}
#secBdyChld{
  
  height: 250px;
}


.squered{
  width: 25%;
  height: 100%;

}


#footChld{
  width: 100%;
  height: 100px;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 480px) and (max-width: 767px){
  
  

#aHead{
  width: 100%;
  height: 75px;
}

#parent{

  width: 100%;
  height: 1105px;
  
}
#sidebar{
  height: 150px;
  
  width: 100%;

}
#bAside{
  height: 150px;
  
}
#bdyChld{
 
  width: 100%;
  height: 500px;
}
#fstBdyChld{


width: 100%;
height:250px ;
}
.fstBdyChld{
width: 100%;
height: 100px;

}
#secBdyChld{
 
  height:500px;
  width: 100%;
}


.squered{
  width: 50%;
  height:250px;

}


#footChld{
  width: 100%;
  height: 80px;
  
}





@media (min-width: 768px) and (max-width: 960px) {
  
  
#aHead{
  width: 100%;
  height: 100px;
}


#parent{
 
  width: 100%;
  height: 600px;
  
}
#sidebar{
  height: 600px;
  
  width: 25%;

}
#bAside{
  height: 100%;
  
}
#bdyChld{
  width: 100%;
  height: 600px;
}
#fstBdyChld{

width: 100%;
height:200px ;
}
.fstBdyChld{
width: 50%;
height: 200px;

}
#secBdyChld{
  height: 250px;
}


.squered{
  width: 25%;
  height: 100%;

}
#footChld{
  width: 100%;
  height: 150px;
  
}
#footChld p{
  line-height: 150px;
}
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

#aHead{
  width: 100%;
  height: 100px;
}


#parent{
 
  width: 100%;
  height: 600px;
  
}
#sidebar{
  height: 600px;
  
  width: 20%;

}
#bAside{
  height: 100%;
  
}
#bdyChld{
  
  width: 80%;
  height: 600px;
}
#fstBdyChld{

width: 100%;
height:250px ;
}
.fstBdyChld{
width: 50%;
height: 250px;

}
#secBdyChld{

  height: 250px;
}


.squered{
  width: 25%;
  height: 100%;

}
#footChld{
  width: 100%;
  height: 100px;
  background-color: #4a3f35;
  
}

  

}