

#aHead{
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #383e56;
  }
  
  
  #parent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    
  }
  #sidebar{
    height: 600px;
    
    width: 20%;
    
    background-color: #f69e7b;
  }
  #bAside{
    height: 100%;
    line-height: 600px;
    
  }
  #cAside{
    background-color: #eedad1;
  
  }
  #dAside{
    background-color: #d4b5b0;
  
  }
  #bdyChld{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 600px;
  }
  #fstBdyChld{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:250px ;
  }
  .fstBdyChld{
  width: 50%;
  height: 250px;
  line-height: 200px;
  
  }
  #secBdyChld{
    display: flex;
    flex-direction: row;
    height: 250px;
  }
  
  
  .squered{
    width: 25%;
    height: 100%;
      line-height: 250px;
  
  }
  #ee{
    background-color: #f4f4f4;
  }
  #ff{
    background-color: #f0a500;
  }
  #gg{
    background-color: #cf7500;
  }
  #hh{
    background-color: #000000;
  }
  
  #footChld{
    width: 100%;
    height: 100px;
    background-color: #d4b5b0;
  }
  #footChld p{
    text-align: center;
    border: 1px solid black;
    line-height: 100px;
  }
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 480px) and (max-width: 767px){
    
    
  
  #aHead{
    width: 100%;
    height: 75px;
    line-height: 75px;
    background-color: #fbd46d;
  }
  
  #parent{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 1105px;
    
  }
  #sidebar{
    height: 150px;
    
    width: 100%;
    background-color: #4f8a8b;
  
  }
  #bAside{
    height: 150px;
    line-height: 150px;
    
  }
  #bdyChld{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
  }
  #fstBdyChld{
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height:250px ;
  }
  .fstBdyChld{
  width: 100%;
  height: 100px;
  line-height: 125px;
  
  }
  #secBdyChld{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:500px;
    width: 100%;
  }
  
  
  .squered{
    width: 50%;
    height:250px;
      line-height: 250px;
  
  }
  #ee{
    background-color: #99b898;
  }
  #ff{
    background-color: #feceab;
  }
  #gg{
    background-color: #ff847c;
  }
  #hh{
    background-color: #e84a5f;
  }
  
  #footChld{
    width: 100%;
    height: 80px;
    background-color: #07031a;
    
  }
  #footChld p{
    text-align: center;
    border: 1px solid black;
    line-height: 80px;
  }
  
  }
  
  
  @media (min-width: 768px) and (max-width: 960px) {
    
    
  #aHead{
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  
  
  #parent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    
  }
  #sidebar{
    height: 600px;
    
    width: 25%;
  
  }
  #bAside{
    height: 100%;
    line-height: 600px;
    
  }
  #bdyChld{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
  }
  #fstBdyChld{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:200px ;
  }
  .fstBdyChld{
  width: 50%;
  height: 200px;
  line-height: 200px;
  
  }
  #secBdyChld{
    display: flex;
    flex-direction: row;
    height: 250px;
  }
  
  
  .squered{
    width: 25%;
    height: 100%;
      line-height: 250px;
  
  }
  #ee{
    background-color: #f7fbe1;
  }
  #ff{
    background-color: #bac964;
  }
  #gg{
    background-color: #438a5e;
  }
  #hh{
    background-color: #436f8a;
  }
  #footChld{
    width: 100%;
    height: 150px;
    background-color: #092532;
    
  }
  #footChld p{
    text-align: center;
    border: 1px solid black;
    line-height: 150px;
  }
  }
  
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
  
  #aHead{
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  
  
  #parent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    
  }
  #sidebar{
    height: 600px;
    
    width: 20%;
  
  }
  #bAside{
    height: 100%;
    line-height: 600px;
    
  }
  #bdyChld{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 600px;
  }
  #fstBdyChld{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:250px ;
  }
  .fstBdyChld{
  width: 50%;
  height: 250px;
  line-height: 200px;
  
  }
  #secBdyChld{
    display: flex;
    flex-direction: row;
    height: 250px;
  }
  
  
  .squered{
    width: 25%;
    height: 100%;
      line-height: 250px;
  
  }
  #ee{
    background-color: #111d5e;
  }
  #ff{
    background-color: #c70039;
  }
  #gg{
    background-color: #f37121;
  }
  #hh{
    background-color: #ffbd69;
  }
  #footChld{
    width: 100%;
    height: 100px;
    background-color: #4a3f35;
    
  }
  #footChld p{
    text-align: center;
    border: 1px solid black;
    line-height: 100px;
  }
    
  }
  