/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div p {
  text-align: center;
}
div {
  border: 1px solid black;
  margin: 0 auto;
}

#empty {
  height: 50px;
  border: 0 none;
} 

@media screen and (min-width: 480px) and (max-width: 767px) {
  body{
      background-color: black;
  }
    main {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    
  }
  section {
    width: 767px;
 
    height: 80%;
    background-color: rgb(180, 180, 180);
    margin: 0 auto;
    
  }
  h2 {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 900;
    margin-left: 19%;
  }
  h2 span {
    font-size: 20px;
    font-weight: 500;
    color: gray;
  }
  div {
    left: 90px;
    border: 1px solid black;
  }

  #a {
    width: 480px;
    height: 75px;
    background-color: #f9f9f9;

  }
  #b {
    width: 480px;
    height: 150px;
    background-color: #ffe0ac;

  }
  #c {
    width: 480px;
    height: 125px;
    background-color: #ffacb7;

  }

  #d {
    width: 480px;
    height: 125px;
    background-color: #6886c5;

  }
  #e {
    display: inline-block;
    width: 240px;
    height: 250px;
    margin: -1px;
    margin-top: 0;
    margin-left: 143px;
    background-color: #092532;

   
  }
  #f{
    display: inline-block;

    width: 240px;
    height: 250px;
    margin: -2px;
    margin-top: 0;
    margin-left: -2px;
    background-color: #89c9b8;

  }
  #g{
    display: inline-block;
     min-width: 240px;
     min-height: 250px;
     margin: -2px;
     margin-top: 0;
     margin-left: 143px;
    background-color: #c7e2b2;

  }
  #h{
    display: inline-block;
    width: 240px;
    height: 250px;
    margin: -2px;
    margin-top: 0;
    margin-left: -2px;
    background-color: #e1ffc2;

  }

  #i {
    width: 480px;
    height: 80px;
    margin: 0 auto;
    background-color: #b9ac92;

  }
}







@media screen and (min-width: 768px) and (max-width: 960px) {
  body {
    background-color: black;
  }
  main {

    
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
  }
  section {
    width: 960px;
    height: 80%;
    background-color: rgb(180, 180, 180);
    margin: 0 auto;
  }
  h2 {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 900;
    margin-left: 12.8%;
  }
  h2 span {
    font-size: 20px;
    font-weight: 500;
    color: gray;
  }
  #a {
    width: 960px;
    height: 100px;
    background-color: #f9f9f9;
  }
  #a p {
    margin: 5% auto;
  }

  #b {
    width: 200px;
    height: 600px;
    float: left;
    background-color: #ffe0ac;
  }
  #b p {
    margin: 99% auto;
  }
  #c,
  #d {
    width: 380px;
    height: 200px;
    float: left;
    
  }
  #c{
    background-color: #ffacb7;
  }
  #d{
    background-color: #6886c5;
  }
  #c p,
  #d p {
    margin: 25% auto;
  }
  .squered {
    display: inline-block;
    margin: -2px;
    margin-top: -1px;
    width: 190px;
    height: 250px;
  }
  #e{
    background-color: #092532;
  }
  #f{
    background-color: #89c9b8;

  }
  #g{
    background-color: #c7e2b2;

  }
  #h{
    background-color: #e1ffc2;

  }
  .squered p {
    margin: 55% auto;
  }

  #i {
    display: inline-block;
    width: 760px;
    height: 150px;
    background-color: #b9ac92;
  }
  #i p {
    margin: 10% auto;
  }
}




/* STRECH GOALS */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  section{
    min-width: 768px;
    max-width: 1024px;

    height: 100%;
  }
  #a {
    width: 960px;
    height: 100px;
    background-color: #f9f9f9;
  }
  #a p {
    margin: 5% auto;
  }
  #a p::before{
    font-weight: bolder;
    font-size: 30px;
    color: navy;
    content: "It is ";
  }
  #a p::after{
    font-weight: bolder;
    font-size: 30px;
    color: navy;
    content: " Tablet";
  }

  #b {
    width: 200px;
    height: 600px;
    float: left;
    background-color: #ffe0ac;
  }
  #b p {
    margin: 99% auto;
  }
  #c,
  #d {
    width: 380px;
    height: 200px;
    float: left;
    
  }
  #c{
    background-color: #ffacb7;
  }
  #d{
    background-color: #6886c5;
  }
  #c p,
  #d p {
    margin: 25% auto;
  }
  .squered {
    display: inline-block;
    margin: -2px;
    margin-top: -1px;
    width: 190px;
    height: 250px;
  }
  #e{
    background-color: #092532;
  }
  #f{
    background-color: #89c9b8;

  }
  #g{
    background-color: #c7e2b2;

  }
  #h{
    background-color: #e1ffc2;

  }
  .squered p {
    margin: 55% auto;
  }

  #i {
    display: inline-block;
    width: 760px;
    height: 150px;
    background-color: #b9ac92;
  }
  #i p {
    margin: 10% auto;
  }
  
} */
